<body>
    <div class="header">
       <h1>Choose a trek</h1>
   </div>



   <!-- Champs de recherche / tri -->
   <div class="trek-field col-md-6">
    <h2>Search a trek</h2>
    <div class=" searchingtreks">
        <input class="searchInput" type="text" ng-model="query" placeholder="Search for a trek" />
        <select ng-model="order" class="orderBy" style="color:black;">
            <option value="" disabled selected hidden>Sort by</option>
            <option value="description">Sort by name</option>
            <option value="distance">sort by distance</option>
        </select>
    </div>
</div>






<div class="list-group">
    <div class="list-group-item" ng-repeat="trek in treks | filter:{description: query} | orderBy:order">
        <div class="list-header">
            <h3 class="trek-description"></h3>
            <button type="submit" class="btn btn-default addbutton1" ng-click="update(trek)">Add to favorites</button>
        </div>
        <form class=" form-inline">
            <div class="form-group secondForm">
                <img class="imgAdd" src="{{trek.image || 'image.jpg'}}" />
                
                <div class="maps">
                    <div class="trekpathmap">

                      <div class="google-map" center="map.center" zoom="map.zoom" draggable="true">
               <!-- <layer type="TrafficLayer"></layer>
                <layer type="WeatherLayer" namespace="weather"></layer>
                <layer type="CloudLayer" namespace="weather"></layer>-->
                <layer type="KmlLayer" options="kmlLayerOptions"></layer>
            </div>

        </div>
        <div class="weathermap">

        </div>
    </div>

</div>
</form>
<div class="row"  >
    <div class="col-md-4">

        <div class="trek-distance">
            {{trek.distance}}
        </div>
        <div class="trek-time">
            {{trek.time}}
        </div>
        <div class="trek-badge">
            {{trek.badge}}
        </div>
    </div>
    
</div>
</div>
</div>
</body>