<body>
    <div class="header">
       <h1>Choose a trek</h1>
   </div>



   <!-- Champs de recherche / tri -->
   <div class="trek-field col-md-6">
    <h2>Search a trek</h2>
    <div class=" searchingtreks">
        <input class="searchInput" type="text" ng-model="query" placeholder="Search for a trek" />
        <select ng-model="order" class="orderBy" style="color:black;">
            <option value="" disabled selected hidden>Sort by</option>
            <option value="description">Sort by name</option>
            <option value="distance">sort by distance</option>
        </select>
    </div>








<div class="list-group">

    <div class="row">
        <div class="col-md-6">
            <h3 class="trek-description">Mont Blanc</h3>
            </div>
        <div class="col-md-6">
            <button type="submit" class="btn btn-default addbutton1" ng-click="update(trek)">Add to favorites</button>
        </div>

    </div>



    <div class="row">
        <div class="col-md-6">
            <div class="maps">
                <div class="trekpathmap">

                    <ng-map zoom="11" center="41.875696,-87.624207">
                    <kml-layer url="http://www.google.com/maps/d/kml?mid=z4t2qn7YIVEQ.kA0ng124KU8Q">
                </kml-layer>
            </ng-map>


        </div>
         <div class="col-md-6">
        <div class="weathermap">

        </div>
        </div>
    </div>
</div>
</div>


<div class="row">
    <div class="col-md-4">
       <div class="trek-distance">
        12 km{{trek.distance}}
    </div></div>

    <div class="col-md-4">
        <div class="trek-time">
            12 h{{trek.time}}
        </div></div>
        <div class="col-md-4">
            <div class="trek-badge">
                image {{trek.badge}}
            </div></div>



        </div>

    </div>
</div>
</div>
</body>